<p id="notice"><%= notice %></p>

<p>
  <b>Semester period:</b>
  <%= @semester.start_date %> to 
  <%= @semester.end_date %>
</p>

<p>
  <b>Min percentage:</b>
  <%= @semester.min_percentage %>
</p>

<p><b>Courses:</b></p>
<ul>
<% @semester.courses.each do |course| %>
  <li><%= "#{course.title} (#{course.credits} credits)" %> </li>
<% end %>
  </ul>
